# 顶层配置
root = true

# 通用配置
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# 针对特定文件类型的配置

# JavaScript 和 TypeScript 文件
[*.{js,tsx}]
quote_type = double
end_of_line = lf

# JSON 文件
[*.json]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false

# YAML 文件
[*.{yml,yaml}]
indent_style = space
indent_size = 2